<div class="row">
  <h1>Funnelback best bets checker</h1>
</div>

<div class="panel">
  <p>This lists the best bets from <a href="https://www.funnelback.com/">Funnelback</a> and checks to ensure they produce a <a href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#2xx_Success">200 OK code</a>.</p>
</div>

<div class="row">
  <p>Choose which search profile you want to check:</p>
    <ul>
      <li><a href="/internal/">internal</a></li>
      <li><a href="/external/">external</a></li>
    </ul>
</div>